Django==1.10.3
django-cors-headers==1.2.2
djangoApiDec
PyPrind==2.9.9
requests==2.11.1
simplejson==3.10.0
django-webpack-loader
django-bower

# for postgres and MongoDB
pymongo==3.4.0
pymysql

# made by ourselves
PMIofKCM==2.2
kcem==7.0
kcm==1.8
kem==4.4
udicOpenData==0.9
udicTfidf==1.3
swingerApp==1.3
behavior2text==1.0