Django==1.11.15
django-cors-headers==1.2.2
djangoApiDec
PyPrind==2.9.9
requests==2.11.1
simplejson==3.10.0
django-webpack-loader
django-bower

# for postgres and MongoDB
pymongo==3.4.0
pymysql

# made by ourselves
PMIofKCM==2.2
kcem==7.1
kcm==2.0
kem==4.4
udicOpenData==0.9
udicTfidf==1.6
swingerApp==1.3
behavior2text==1.0