{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDIC實驗室</title>
    <link rel="stylesheet" type="text/css" href={% static "bower_components/semantic/dist/semantic.min.css" %}>
    <script src={% static "bower_components/jquery/dist/jquery.min.js" %}></script>

</head>

<body>
  <div id="app"></div>
  {% render_bundle 'main' 'js' 'API' %}

</body>
</html>